body{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}
html{
    scroll-behavior: smooth;
}

*{
    box-sizing: border-box;
}


h1{font-size: 3.1em;}
h2{font-size: 2.7em;}
h3{font-size: 2em;}
p{font-size: 1.25em;}
ul{list-style: none;}
li{ font-size: 1.25em;}

button{
    font-size: 1.25em;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,0.5);
    box-shadow: 2px 2px 10px rgba(0,0,0,0.5);
    color: white;
    background-color: green;
}

button:hover{
    background-color: rgb(9, 92, 9);
}

.container{
    max-width: 1400px;
    margin: auto;
}

.color-acento{ color: rgb(22, 119, 22);}
.planeta{color: rgb(22,119,22);}
header{
    background-color: rgb(245,245,245);
}

header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.6em;
}

header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}

header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}

header a:hover{
    color: green;
}

#Info{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 90vh;
    background-image: linear-gradient(
        0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,
        url("/Img/Ecosistema.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

#Info h1{
    color: white;
}

#Arboles .container{
    text-align: center;
    padding: 200px 12px;
}

#fuentes{
    background-color: rgba(30,30,30);
    color: white;
}

#fuentes p{
    display: none;
}

#fuentes h2{
    margin-top: 0;
    font-size: 3.5em;
}
#fuentes .container{
    padding: 150px 12px;
}

#fuentes .carta{
    background-size: cover;
    background-position: center center;
    padding: 50px;
    margin: 30px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("/Img/Pronotura.jpg");
    
}

.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("/Img/Owl.jpg");
    
}

#carateristicas .container{
    text-align: center;
    padding: 100px 12px;
}

#caracteristicas li{
    margin: 16px 0px;
    font-weight: bold;
}

#Buenainfo{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    background-color: rgb(30,30,30);
    color: white;
    height: 20wh;
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("/Img/Cuidado.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 100px;
}

#Buenainfo h2{
    font-size: 9vw;
}

#Buenainfo button{
    font-size: 1.5em;
}

footer{
    background-color: rgb(230,230,230);
}

footer p{
    margin: 0;
    color: rgb(100, 100, 100);
    padding: 12px;
}

footer .container{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

@media(min-width: 720px){

    header{
        position: fixed;
        width: 100%;
    }

    header .container{
        flex-direction: row;
        justify-content: space-between;
    }

    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #Info h1{
        font-size: 5em;
    }

    #Arboles .container{
        display: flex;
        justify-content: space-evenly;
    }

    #Arboles .texto{
        width: 50%;
        max-width: 600px;
        text-align: initial;
        padding-left: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    #Arboles h2{
        margin-top: 0px;
    }

    #Arboles .img-container{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("Img/Chiapas.jpg");
        background-size: cover;
        background-position: center center;
        height: 500px;
        width: 700px;
    }

    #fuentes .programas{
        display: flex;
        justify-content: center;
    }

    #fuentes p{
        display: block;
        margin-bottom: 30px;
    }
    #fuentes h3{
        margin-top: 0;
    }
    #fuentes .carta{
        padding: 50px;
    }

    #carateristicas{
        background-image: url("Img/EQUIOP.jpg");
        background-repeat: no-repeat;
        background-size: 400px;
        background-position: calc(100vw - 500px) 130px;
        
    }

    #carateristicas .container{
        text-align: initial;
    }

    #carateristicas ul{
        margin-left: 100px;
    }
   
    #Buenainfo h2{
        font-size: 4em;
    }
    #Buenainfo button{
        font-size: 1.8em;
    }
    footer .container{
        justify-content: flex-end;
    }
}
@media (min-width: 1200px){
    #caracteristicas{
        background-position-x: calc(800vw - 800px);
    }
}


.espaciado{
    line-height: 1.5;
}
.organizacion{
    text-align: center !important;
    margin-bottom: 100px;
}
*{
    font-family: 'Poppins', sans-serif;
}
