html{
    scroll-behavior: smooth;
}
*{
    box-sizing: border-box;
}

body{
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
}


h1{ font-size: 2.5em;}
h2{ font-size: 2.2em;}
h3{ font-size: 1.8em;}
p{ font-size: 1.8;}
li{ font-size: 1.25em;}
header{
    background-color: rgb(255,255,255);
}
.color-a{ color: green;}
.color{ color: green;}
header .logo{
    margin: 0;
    padding: 25px 30px;
    font-weight: bold;
    color: green;
    font-size: 1.6em;
}
header .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
header nav{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 25px;
}
header a{
    padding: 5px 12px;
    text-decoration: none;
    font-weight: bold;
    color: black;
}
header a:hover{
    color: green;
}
#Infot{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    height: 50vh;
    background-image:linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)), url("MANGOATA.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
#Infot .informacion-c{
    color: white;
}

#Infot .sig-c{
    font-size: 1em;
    color: white;
}
#Cuidados7{
    text-align: center;
    padding: 100px 12px;
}
#Cuidados8{
    text-align: center;
    padding: 100px 12px;
}
#Cuidados9{
    text-align: center;
    padding: 100px 12px;
}
#Cuidados10{
    text-align: center;
    padding: 100px 12px;
}
#Cuidados11{
    text-align: center;
    padding: 100px 12px;
}
#Cuidados12{
    text-align: center;
    padding: 100px 12px;
}

#Plantar2{
    background-color: rgba(30,30,30);
    color: white;
    text-align: center;
}
#Plantar2 .container1{
    padding: 120px 0px;
}
#Plantar2 h2{
    margin-top: 0;
    font-size: 3.2em;
}

#Plantar2 .carta{
    background-position: center center;
    background-size: cover;
    padding: 50px 0px;
    margin: 30px;
    border-radius: 15px;
}
.carta:first-child{
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("SEMILLASMANGO.jpg");
}
.carta:nth-child(2){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("SUELOMANGO.jpg");
}
.carta:nth-child(3){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("RIEGOMANGO.jpg");
}
.carta:nth-child(4){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("Espaziadomango.jpg");
}
.carta:nth-child(5){
    background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)) ,url("Cuidadocontinuo.jpg");
}
@media(min-width: 720px){
    header{
        position: fixed;
        width: 100%;
    }
    header .container{
        flex-direction: row;
        justify-content: space-between;
    }
    header nav{
        flex-direction: row;
        padding-bottom: 0;
        padding-right: 20px;
    }

    #Cuidados7 .tipos7{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados7 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados7 h2{
        margin-top: 0;
    }
    #Cuidados7 .imagen7{
        background-image: linear-gradient(0deg, rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url("CLIMAMANGO.png");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }
    #Cuidados8 .tipos8{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados8 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados8 .imagen8{
        background-image: url("SIEMBRAMANGO.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }
    
    #Cuidados9 .tipos9{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados9 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados9 .imagen9{
        background-image: url("SUELO.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }


    #Cuidados10 .tipos10{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados10 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados10 .imagen10{
        background-image: url("RIEGO.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }
    #Cuidados11 .tipos11{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados11 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados11 .imagen11{
        background-image: url("Poda.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }
    #Cuidados12 .tipos12{
        display: flex;
        justify-content: space-evenly;
    }
    #Cuidados12 .text{
        width: 50%;
        max-width: 600px;
        padding-left: 30px;
        text-align: initial;
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
    #Cuidados12 .imagen12{
        background-image: url("Fertilizante.jpg");
        background-size: cover;
        background-position: center center;
        height: 400px;
        width: 400px;
    }

}